	#u504-5
	{
		background-color: transparent;
		font-size: 24px;
		line-height: 29px;
	}

	#u504
	{
		color: #FFFFFF;
	}

	#u504-2
	{
		color: #00C4D6;
	}

	#u508-4,#u512-4,#u518-4,#u524-4,#u530-4
	{
		background-color: transparent;
		color: #FFFFFF;
	}

	#u201-4
	{
		background-color: transparent;
		text-align: right;
		color: #969696;
	}


