	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#page_position_content
	{
		margin-bottom: -292px;
	}

	#u1457-5
	{
		width: 23.03%;
	}

	#u1458-4
	{
		z-index: 13;
		width: 45px;
		min-height: 31px;
		position: relative;
		margin-right: -10000px;
		margin-top: 20px;
		left: 45%;
	}

	#u1459-4
	{
		z-index: 17;
		width: 74px;
		min-height: 31px;
		position: relative;
		margin-right: -10000px;
		margin-top: 20px;
		left: 54.07%;
	}

	#u1460-4
	{
		z-index: 21;
		width: 91px;
		min-height: 31px;
		position: relative;
		margin-right: -10000px;
		margin-top: 20px;
		left: 66.15%;
	}

	#u1461-4
	{
		z-index: 25;
		width: 41px;
		min-height: 31px;
		position: relative;
		margin-right: -10000px;
		margin-top: 20px;
		left: 80%;
	}

	#u1462-4
	{
		z-index: 29;
		width: 82px;
		min-height: 31px;
		position: relative;
		margin-right: -10000px;
		margin-top: 20px;
		left: 88.65%;
	}

	#u1743
	{
		z-index: 33;
		padding-bottom: 38px;
	}

	#u1746-4
	{
		z-index: 34;
		width: 143px;
	}

	#u1749,#u1749-bw
	{
		z-index: 38;
	}

	#pu1822-6
	{
		margin-top: 23px;
		width: 100%;
	}

	#u1822-6
	{
		z-index: 39;
		margin-right: -10000px;
		left: 2.09%;
	}

	#u1826
	{
		z-index: 45;
		margin-top: 70px;
		width: 4.8%;
	}

	#u1842
	{
		z-index: 48;
		width: 45.66%;
		left: 26.09%;
	}

	#u1878-7
	{
		z-index: 54;
		margin-top: 82px;
		width: 22.61%;
	}

	#pu1830
	{
		margin-top: 7px;
	}

	#u1830
	{
		z-index: 46;
		padding-bottom: 8px;
		width: 4.8%;
		left: 2.09%;
	}

	#u1854
	{
		z-index: 50;
		margin-top: 5px;
		width: 41.31%;
		left: 28.27%;
	}

	#u1854_img
	{
		width: 100%;
	}

	#u1882-8
	{
		z-index: 61;
		min-height: 32px;
		margin-top: 9px;
		width: 22.61%;
	}

	#pu1836
	{
		margin-top: -3px;
	}

	#u1836
	{
		z-index: 47;
		padding-bottom: 14px;
		width: 4.8%;
	}

	#u1866
	{
		z-index: 52;
		margin-top: 12px;
		width: 56.53%;
		left: 21.74%;
	}

	#u1888-7
	{
		z-index: 69;
		min-height: 33px;
		margin-top: 12px;
		width: 22.61%;
	}

	#u1448
	{
		top: -5px;
		margin-bottom: -5px;
	}

	#u1449-4
	{
		width: 18.44%;
		left: 79.48%;
	}

	body
	{
		padding-bottom: 298px;
	}

